* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p{
    font-weight: 500;
    width: 70%;
    margin: auto;
    color:hsl(201, 11%, 66%);
}

button:hover{
    cursor: pointer;
}
@media (max-width: 1200px) {
    p{
        width: 90%;
    }    
    }
    

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header */
header {
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}

header .container .header-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

header .container .header-up .text {
    text-align: center;
}

header .container .header-up .text h1 {
    margin-bottom: 25px;
    font-weight: bold;
    color:hsl(210, 10%, 33%);
}

header .container .header-down {
    display: flex;
    gap: 20px;
}

header .container .header-down button {
    padding: 15px 25px;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}

header .container .header-down button:hover   {
    transition: .5s;
    color: hsl(210, 10%, 33%);
    box-sizing: 0 0 0;
}

header .container .header-down button:first-child {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 0 5px hsl(171, 66%, 44%);

}
header .container .header-down button:hover:first-child , header .container .header-down button:hover:last-child {
    background-color: white;
   
}
header .container .header-down button:last-child {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 0 5px hsl(233, 100%, 69%);
 
}

@media (max-width: 768px) {
    header .container .header-down{
        flex-direction: column;
        width: 100%;
    }
    header .container .header-down button{
        width: 100%;
    }
}


/* page 2*/
.page2 {
    padding: 100px 0  ;
}

.page2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.page2 .container .page2-up {
    text-align: center;
}

.page2 .container .page2-up h1 {
    margin-bottom: 25px;
    color:  hsl(210, 10%, 33%);

}

.page2 .container .page2-down .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.page2 .container .page2-down .container .page2-right .box {
    margin-bottom: 30px;
  
}


@media (max-width: 1200px) {
    .page2 .container .page2-down .container .page2-right .box {
        width: 100%;
    }
}

.page2 .container .page2-down .container .page2-right .box p{
    width: 100%;
}

.page2 .container .page2-down .container .page2-right .box h1 {
    margin-bottom: 15px;
    color:hsl(210, 10%, 33%);
}

.page2 .container .page2-down .container .page2-left {
    width: 50%;
}

.page2 .container .page2-down .page2-left img {
    width: 100%;
}

@media (max-width:1200px) {
    .page2 .container .page2-down .container .page2-left {
        width: 100%;
    }
    .page2 .container .page2-down .container {
        flex-wrap: wrap;
    }
}


/* page 3*/
.page3 {
    padding:100px 0 ;
}

.page3 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.page3 .container .page3-up {
    text-align: center;
}

.page3 .container .page3-up h1 {
    margin-bottom: 25px;
    color:hsl(210, 10%, 33%);
}

.page3 .container .page3-down {
    width: 80%;
}

.page3 .container .page3-down img {
    width: 100%;
}


@media (max-width:1200px) {


    .page3 .container .page3-down {
        width: 100%;
    }
}

/* page 4*/
.page4 {
    padding: 100px 0 ;
}

.page4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

}

.page4 .container .page4-up {
    margin-bottom: 50px;
    text-align: center;
}

.page4 .container .page4-up h1 {
    margin-bottom: 25px;
    color:hsl(210, 10%, 33%);
}

.page4 .container .page4-mid {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}


@media (max-width: 992px) {
    .page4 .container .page4-mid {
        flex-wrap: wrap;
    }
    .page4 .container .page4-mid p{
        width: 90%;
        margin: auto;
    }
}
.page4 .container .page4-down {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

@media (max-width :1200px) {
    .page4 .container .page4-down {
        flex-wrap: wrap;
        flex-direction: column;
    }
}


/* page 5*/
.page5{
    padding: 80px 0 150px 0 ; 
}
.page5 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px; 
}

.page5  .container .page5-up{
    text-align: center;
}

.page5 .container .page5-up h1{
   margin-bottom: 25px;
   color:hsl(210, 10%, 33%);
}

.page5 .container .page5-down {
    display: flex;
    gap: 20px;
}

.page5 .container .page5-down button {
    padding: 15px 25px;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}

.page5 .container .page5-down button:first-child {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 0 5px hsl(171, 66%, 44%);
}

.page5 .container .page5-down button:last-child {

    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 0 5px hsl(233, 100%, 69%);

}
.page5 .container .page5-down button:hover{
    color: hsl(210, 10%, 33%);
    transition: .5s;
}

.page5 .container .page5-down button:hover:first-child , .page5 .container .page5-down button:hover:last-child  {
    background-color: white;
    transition: .5;
}


@media (max-width: 768px) {
    .page5 .container .page5-down{
        flex-direction: column;
        width: 100%;
    }
    .page5 .container .page5-down button {
        width: 100%;
    }
}


/* footer */
footer{
    background-color:hsl(201, 17%, 76%);
    padding: 50px 0;
    width: 100%;
    
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap : 100px;
    font-size: 20px;
    color: hsl(210, 10%, 33%);
}

footer .container .box h6{
margin-bottom: 15px;    
}

footer .container .box:last-child{
    display: flex;
    gap: 30px;
}

@media (max-width:1200px) {
    footer .container{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    
}



